In [ ]:
import numpy as np
import pandas as pd
import matplotlit as mpl

# Vizualization Seattle Bicycle Counts

In [10]:
data = pd.read_csv('statick/FremontBridge.csv',index_col='Date', parse_dates=True)

In [12]:
data.head()

,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
Date,,
2015-02-24 02:00:00,3.0,3.0
2019-01-01 00:00:00,0.0,9.0
2019-01-01 01:00:00,2.0,22.0
2016-02-15 00:00:00,3.0,3.0
2019-01-01 02:00:00,1.0,11.0

In [13]:
data.columns = ['east','west']

In [15]:
data['total']= data.eval('east + west')

In [17]:
data.head()

                     east  west  total
Date
2015-02-24 02:00:00   3.0   3.0    6.0
2019-01-01 00:00:00   0.0   9.0    9.0
2019-01-01 01:00:00   2.0  22.0   24.0
2016-02-15 00:00:00   3.0   3.0    6.0
2019-01-01 02:00:00   1.0  11.0   12.0